body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
}

header {
    background-color: #333;
    padding: 1rem 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

main {
    padding: 50px 0;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

form .form-group {
    margin-bottom: 20px;
}

form label {
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0px;
    text-align: center;
    height: 120px;
}

.footer-p {
    font-size: 20px;
}
